.app-guide-h2-title {
  font-weight: 900;
  color: var(--app-main-color);
  font-size: 30px;
}
.app-guide-h3-title {
  color: white;
  background-color: var(--app-main-color);
  border-radius: 5px;
  width: fit-content;
  padding: 3px 10px;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 400;
}

.app-guide-h4-title {
  color: var(--app-main-color);
  border-radius: 5px;
  width: fit-content;

  margin: 0px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}
